# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Dataset (too large)
dataset/

# Trained models
model/

# Test files
camera_test.py

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Streamlit cache
.streamlit/